_build*
*.o
*.os
*.pyc
*.so
*~
pytest_session.txt
.cache
.coverage
.pytest_cache
.sconf_temp
.sconsign.dblite
bin/*.py
bin/*.conf
bin/run_ap_pipe.*
config.log
doc/*.inc
doc/*.tag
doc/doxygen.conf
doc/html
doc/xml
doc/_build
doc/py-api
doc/api
tests/.cache
tests/.tests
ups/*.cfgc
version.py
python/*.dist-info/

# Dynamically generated source injection pipelines
pipelines/_ingredients/ApPipeWithFakes.yaml
python/*.dist-info/