*.o
*.os
*.pyc
*.so
*~
pytest_session.txt
.cache
.coverage
.sconf_temp
.sconsign.dblite
bin/ap_pipe.py
bin/*.conf
bin/run_ap_pipe.*
config.log
doc/*.inc
doc/*.tag
doc/doxygen.conf
doc/html
doc/xml
tests/.cache
tests/.tests
ups/*.cfgc
version.py
